.containerRegister {
  margin: 0 auto;
  width: 700px;
}

.formContainer {
  background-color: #15353e;
  padding: 20px;
  border-radius: 8px;
  height: 640px;
}

.formContainer h2{
  padding-bottom: 20px;
  padding-top: 20px;
}

.formGroup {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: auto;
  margin-top: 25px;
}

.inlineFields {
  flex: 1;
  margin-right: 20px;
}

.formGroup input {
  width: 100%;
  padding: 14px; 
  border-radius: 8px;
  border: 1px solid #ccc;
}

.formGroup button {
  display: block;
  margin: auto;
  color: #FFF;
  width: 40%;    
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 15px;
  background-color: #01b81d;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


.formGroup button:hover {
  background-color: #068f1e;
}
